Support Language Server Protocol

@luolong suggested this [on Reddit](https://www.reddit.com/r/ceylon/comments/5p45fy/introducing_ceylond_and_cformat_write_unix/dcy88hl/): add support for the [Language Server Protocol](https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md). That is, write another module just like `packetBased` and `recordBased`, which reads and writes JSON-RPC messages.

- The header part is just like HTTP: `Foo: bar baz` headers, separated by `\r\n`, terminated by `\r\n`, all encoded in ASCII. We parse the `Content-Length` and `Content-Type` headers.
- The content part is JSON, encoded as specified in `Content-Type` (default: UTF-8), and with the length as specified in `Content-Length` (in bytes).

How do we map JSON-RPC to Ceylon? Do we just exchange `ceylon.json` objects with the client library, or do we perhaps do something fancier, e. g. automatically find the function of the right name in the client module and call it with the specified parameters? (I’m tempted to say that even if something fancier can be done, it should be left to a separate module, which would hopefully compose well with this one.)

Do we deliver batch requests to the client in batch or completely hide them from it and make the client process them one by one? The latter is probably much simpler.

I think I want to split this up into three modules:

- “http-ish”. The common denominator of many protocols: an optional start line (e. g. `GET / HTTP/1.1`), then headers (`Foo: bar baz`), then a blank line, then content. Lines separated by CRLF. Content length specified in `Content-Length` header. This matches the following protocols:

  - HTTP/1.0 (RFC 1945), with start line
  - **HTTP**/1.1 (RFC 2068), with start line
  - RTSP/1.0 (RFC 2326), with start line
  - **SIP**/2.0 (RFC 3261), with start line
  - CFW (RFC 1862), with start line
  - **Language Server Protocol**, without start line

  Some other protocols are similar, but too different to be handled by this module: IME (RFC 2822) and MIME (RFC 2045) have no `Content-Length` (determined by outer protocol, which in this case does not exist); CPIM (RFC 3862) and its extension IMDN (RFC 5438) separate the start line from the headers by a blank line and also specify no `Content-Length` (though the IMDN examples have it in some examples, wtf‽); TSP (RFC 5572) puts the content immediately after the `Content-Length` header with no separating blank line.

  The configuration of this module is a maximum `Content-Length` and an optional start line processing method, whose existence determines whether the protocol has a start line or not. Each processed read consists of the start line processing result, a map of headers, and a content byte buffer.

- JSON-RPC. You give this module a module (typically your own, `` `module` ``), in which it looks up the invoked methods by name. Method parameters and results are deserialized/serialized from/to JSON according to the parameter and result types of the methods (which should be interfaces or classes that map cleanly to JSON). I need to look up where we stand with serialization… is that still on a branch, or available in main Ceylon releases?

- Language Server Protocol. This is a tiny glue module which just takes the byte buffer from “http-ish” (configuring it with start line processing function `null`), decodes (UTF-8) and parses (JSON) it, passes the result to JSON-RPC, stringifies (JSON) and encodes (UTF-8) the result of that and passes it back to the “http-ish” module to write.

I think I would even place the JSON-RPC module outside of the ceylond project, since it really doesn’t have much to do with daemons, and could also be useful elsewhere.

I like the way you think @lucaswerkmeister :) 👍 

> I need to look up where we stand with serialization… is that still on a branch, or available in main Ceylon releases?

I discussed this with Tom a bit. It’s certainly available ([`ceylon.language.serialization`](https://modules.ceylon-lang.org/repo/1/ceylon/language/1.3.1/module-doc/api/serialization/index.html)), but it might not be necessary, since the protocol is more limited than general-purpose serialization (no circularity, for example) and I can demand that the Ceylon classes be modeled after the JSON schema instead of the other way around (e. g., each interface in the Language Server Protocol spec should be a Ceylon class with exactly one constructor that takes all members as arguments). Might be easier to use the metamodel directly.

I’m working on the JSON-RPC module at https://github.com/lucaswerkmeister/ceylon-json-rpc.